@use "./media_query.scss" as *;

.content {
  display: grid;
  gap: 45px;
  background-color: black;
  color: white;
  padding: {
    inline: 30px;
    bottom: 65px;
  }
  .content-list {
    display: grid;
    gap: 20px;
    li {
      .content-title {
        text-align: center;
        h1 {
          font: {
            size: 20px;
            family: 'Arial';
            weight: 100;
          }
          width: 208px;
          margin: auto;
        }
        p {
          font: {
            size: 13px;
            family: 'Arial';
          }
          padding-top: 18px;
        }
      }
    }
    li {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        border: hidden;
        padding: {
          block: 10px;
          inline: 10px;
        }
        color: white;
        background-color: #70707099;
        border-radius: 6px;
        &::placeholder {
          color: rgb(222, 222, 222);
        }
        &:focus {
          outline: none;
        }
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: hidden;
        cursor: pointer;
        padding: {
          inline: 10px;
          block: 10px;
        }
        border-radius: 6px;
        background-color: #7b7b7b;
        color: white;
        ion-icon {
          transition: transform .4s;
        }
        &:hover {
          ion-icon {
            transform: translateX(5px);
          }
        }
      }
    }
  }
  .figure-content {
    .figure-img {
      aspect-ratio: var(--width) / var(--height);
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform .4s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@include clint(mobile) {
  .content {
    padding-inline: 40px;
    .content-list {
      gap: 48px;
    }
  }
}

@include clint(tablet) {
  .content {
    padding-inline: 60px;
    grid-template-columns: 1fr 1fr;
    gap: 92px;
    align-items: center;
    .content-list {
      gap: 48px;
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .figure-content {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
}

@include clint(large) {
  .content {
    padding-bottom: 62px;
    padding-inline: 80px;
    .content-list {
      gap: 48px;
      justify-content: end;
      li {
        .content-title {
          text-align: left;
          h1 {
            margin: unset;
            font-size: 23px;
          }
        }
      }
      li {
        width: 318px;
      }
    }
  }
}

@include clint(larger) {
  .content {
    gap: 234px;
    padding-inline: 150px;
    .content-list {
      gap: 48px;
      li {
        width: 350px;
      }
    }
  }
}